In [1]:
import pandas as pd

In [2]:
index_data = pd.read_excel('D:\\rqadatas\\000001.xlsx', 
                           parse_dates=['时间'], 
                           date_parser=lambda date:date.split(',')[0])

In [3]:
index_data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>时间</th>
      <th>开盘</th>
      <th>最高</th>
      <th>最低</th>
      <th>收盘</th>
      <th>涨跌</th>
      <th>涨幅%</th>
      <th>振幅%</th>
      <th>总手(万)</th>
      <th>金额(亿)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1990-12-19</td>
      <td>96.05</td>
      <td>99.98</td>
      <td>95.79</td>
      <td>99.98</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>49400</td>
      <td>494311</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1990-12-20</td>
      <td>104.30</td>
      <td>104.39</td>
      <td>99.98</td>
      <td>104.39</td>
      <td>4.41</td>
      <td>4.41</td>
      <td>4.41</td>
      <td>8400</td>
      <td>84992</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1990-12-21</td>
      <td>109.07</td>
      <td>109.13</td>
      <td>103.73</td>
      <td>109.13</td>
      <td>4.74</td>
      <td>4.54</td>
      <td>5.17</td>
      <td>1600</td>
      <td>16096</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1990-12-24</td>
      <td>113.57</td>
      <td>114.55</td>
      <td>109.13</td>
      <td>114.55</td>
      <td>5.42</td>
      <td>4.97</td>
      <td>4.97</td>
      <td>3100</td>
      <td>31063</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1990-12-25</td>
      <td>120.09</td>
      <td>120.25</td>
      <td>114.55</td>
      <td>120.25</td>
      <td>5.70</td>
      <td>4.98</td>
      <td>4.98</td>
      <td>600</td>
      <td>6510</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
index_data.columns

Index(['时间', '开盘', '最高', '最低', '收盘', '涨跌', '涨幅%', '振幅%', '总手(万)', '金额(亿)'], dtype='object')

In [27]:
index_data = index_data[['时间','最高','最低','收盘','涨幅%']]

In [28]:
index_data.sort_values('时间', inplace=True)

In [29]:
N1=20
N2=10

In [30]:
index_data['最近%s个交易日的最高点' % N1] = index_data['最高'].rolling(N1, min_periods=1).max()

In [9]:
index_data['最近%s个交易日的最低点' % N2] = index_data['最低'].rolling(N2, min_periods=1).min()

In [10]:
buy_index = index_data[index_data['收盘'] > index_data['最近%s个交易日的最高点' % N1].shift(1)].index

In [11]:
index_data.loc[buy_index, '收盘时发出的信号'] = 1

In [12]:
sell_index = index_data[index_data['收盘'] < index_data['最近%s个交易日的最低点' % N2].shift(1)].index

In [13]:
index_data.loc[sell_index, '收盘时发出的信号'] = 0

In [14]:
index_data['当天的仓位'] = index_data['收盘时发出的信号'].shift(1)

In [15]:
index_data['当天的仓位'].fillna(method='ffill', inplace=True)

In [16]:
index_data = index_data[index_data['时间'] >= pd.to_datetime('19930101')]

In [17]:
index_data['资金指数']=(index_data['涨幅%'] / 100 * index_data['当天的仓位'] + 1).cumprod()

In [18]:
imitial_idx = index_data.iloc[0]['收盘'] / (1 + index_data.iloc[0]['涨幅%'] / 100)

In [20]:
index_data['资金指数'] *= imitial_idx

In [22]:
#index_data.to_csv('d:\\rqadatas\\turtle_result.cvs', index=False, encoding='utf8')

In [21]:
index_data['海龟法则每日涨跌幅度'] = index_data['涨幅%'] / 100 * index_data['当天的仓位']

In [23]:
index_data['涨幅'] = index_data['涨幅%'] / 100

In [24]:
year_rtn = index_data.set_index('时间')[['涨幅','海龟法则每日涨跌幅度']].resample('A').\
apply(lambda x:(x + 1.0).prod() - 1.0) * 100

In [40]:
year_rtn

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>涨幅</th>
      <th>海龟法则每日涨跌幅度</th>
    </tr>
    <tr>
      <th>时间</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1993-12-31</th>
      <td>6.863311</td>
      <td>47.468796</td>
    </tr>
    <tr>
      <th>1994-12-31</th>
      <td>-22.347255</td>
      <td>74.793525</td>
    </tr>
    <tr>
      <th>1995-12-31</th>
      <td>-14.306219</td>
      <td>-14.214456</td>
    </tr>
    <tr>
      <th>1996-12-31</th>
      <td>65.270111</td>
      <td>22.307939</td>
    </tr>
    <tr>
      <th>1997-12-31</th>
      <td>30.211569</td>
      <td>16.019608</td>
    </tr>
    <tr>
      <th>1998-12-31</th>
      <td>-3.990290</td>
      <td>7.356947</td>
    </tr>
    <tr>
      <th>1999-12-31</th>
      <td>19.259991</td>
      <td>19.239058</td>
    </tr>
    <tr>
      <th>2000-12-31</th>
      <td>51.705328</td>
      <td>18.603585</td>
    </tr>
    <tr>
      <th>2001-12-31</th>
      <td>-20.529087</td>
      <td>3.179190</td>
    </tr>
    <tr>
      <th>2002-12-31</th>
      <td>-17.530440</td>
      <td>1.462105</td>
    </tr>
    <tr>
      <th>2003-12-31</th>
      <td>10.221425</td>
      <td>1.937913</td>
    </tr>
    <tr>
      <th>2004-12-31</th>
      <td>-15.354719</td>
      <td>-1.782691</td>
    </tr>
    <tr>
      <th>2005-12-31</th>
      <td>-8.302733</td>
      <td>0.413177</td>
    </tr>
    <tr>
      <th>2006-12-31</th>
      <td>130.287322</td>
      <td>110.502644</td>
    </tr>
    <tr>
      <th>2007-12-31</th>
      <td>96.614848</td>
      <td>62.316733</td>
    </tr>
    <tr>
      <th>2008-12-31</th>
      <td>-65.418457</td>
      <td>-14.705284</td>
    </tr>
    <tr>
      <th>2009-12-31</th>
      <td>79.995037</td>
      <td>20.579432</td>
    </tr>
    <tr>
      <th>2010-12-31</th>
      <td>-14.318351</td>
      <td>-6.625541</td>
    </tr>
    <tr>
      <th>2011-12-31</th>
      <td>-21.651374</td>
      <td>-4.510710</td>
    </tr>
    <tr>
      <th>2012-12-31</th>
      <td>3.168597</td>
      <td>9.799048</td>
    </tr>
    <tr>
      <th>2013-12-31</th>
      <td>-6.767924</td>
      <td>0.579422</td>
    </tr>
    <tr>
      <th>2014-12-31</th>
      <td>52.921900</td>
      <td>36.318699</td>
    </tr>
    <tr>
      <th>2015-12-31</th>
      <td>9.420196</td>
      <td>18.891204</td>
    </tr>
    <tr>
      <th>2016-12-31</th>
      <td>-12.306145</td>
      <td>-2.455887</td>
    </tr>
    <tr>
      <th>2017-12-31</th>
      <td>6.561547</td>
      <td>0.514407</td>
    </tr>
    <tr>
      <th>2018-12-31</th>
      <td>-15.460494</td>
      <td>-5.698596</td>
    </tr>
  </tbody>
</table>
</div>